[tool.black]
line-length = 88
skip-string-normalization = true

[tool.isort]
profile = "black"
line_length = 88

[tool.ruff]
line-length = 88
select = ["E", "F", "I", "C", "B", "Q"]
ignore = ["E203", "W503"]

[tool.flake8]
max-line-length = 88
extend-ignore = E203, W503
